html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

h1{
	color: #ffffff;
	font: bold 50px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-align: center;
}

p{
	color: #ffffff;
	font: bold 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

body, .mainView{
	background-color: #4c9aa3;
}

.menu-button {
     
    /*basic button Styles*/
    display: block;
    height: 55px;
    /*width: 300px;*/
    margin-right: auto;
    margin-left: auto;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    margin: 25px;
    
     
    /*button text Styles*/
    color: rgba(0, 0, 0, 0.55);
    text-align: center;
    font: bold 40px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
     
    /*CSS3 Styles*/
    background: -webkit-linear-gradient(top, #34696f, #2f5f63);
    background: -moz-linear-gradient(top, #34696f, #2f5f63);
    background: -o-linear-gradient(top, #34696f, #2f5f63);
    background: -ms-linear-gradient(top, #34696f, #2f5f63);
    background: linear-gradient(top, #34696f, #2f5f63);
     
    -webkit-border-radius: 30px;
    -khtml-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px; 
    -webkit-box-shadow: 0 8px 0 #1b383b;
    -moz-box-shadow: 0 8px 0 #1b383b;
    box-shadow: 0 8px 0 #1b383b;
    text-shadow: 0 2px 2px rgba(255, 255, 255, 0.2);
     
}
 
a.menu-button {
    text-decoration: none;
}
 
a.menu-button:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

.main-menu-button{
	display: inline;
    padding: 5px;
    background: #34696f;
    border: 2px solid rgba(33, 68, 72, 0.59);
    
	color: #fff;
    text-align: center;
    font: bold 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    
    background: -webkit-linear-gradient(top, #34696f, #2f5f63);
    background: -moz-linear-gradient(top, #34696f, #2f5f63);
    background: -o-linear-gradient(top, #34696f, #2f5f63);
    background: -ms-linear-gradient(top, #34696f, #2f5f63);
    background: linear-gradient(top, #34696f, #2f5f63);
     
    -webkit-border-radius: 8px;
    -khtml-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px; 
}

a.main-menu-button{
	text-decoration: none;
}

a.main-menu-button:hover {
    background: #3d7a80;
    background: -webkit-linear-gradient(top, #3d7a80, #2f5f63);
    background: -moz-linear-gradient(top, #3d7a80, #2f5f63);
    background: -o-linear-gradient(top, #3d7a80, #2f5f63);
    background: -ms-linear-gradient(top, #3d7a80, #2f5f63);
    background: linear-gradient(top, #3d7a80, #2f5f63);
}

.list-high-scores {
	/*height: 150px;
	width: 400px;*/
	/*background: #34696f;
	border: 1px solid #ffffff;*/
	width: 280px;
	margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    background: #34696f;
    border-color:#999;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}



.list-high-scores ul {
	list-style-type: none;
 	list-style-position: outside;
 	list-style-image: none;
 	padding:20px;
 	margin:0;
}

.list-high-scores li {
	color: #fff;
	font: bold 20px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

hr{
	color:#fff;
}

.stats {
	text-align: center;
	}

.stats div {
	background-color: black;
	color: white;
	border: solid thin lightgray;
	padding: 0.25em;
	}

.animationWrapper {
    overflow: hidden;
    height: 100%;
    width: 100%;
    position: relative;
}

.mainView {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.mainView.animate-view.ng-enter, .mainView.animate-view.ng-leave {
    -webkit-transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition: all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;

    display: block;
    -webkit-transform: translate3d(0,0,0);
}

.forward-animate .mainView.ng-enter {
    -webkit-transform: translate3d(100%, 0, 0);
}

.forward-animate .mainView.ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0,0,0);
}

.forward-animate .mainView.ng-leave {
    -webkit-transform: translate3d(0,0,0);
}

.forward-animate .mainView.ng-leave.ng-leave-active {
    -webkit-transform: translate3d(-100%,0,0);
} 

.back-animate .mainView.ng-enter {
    -webkit-transform: translate3d(-100%, 0, 0);
}

.back-animate .mainView.ng-enter.ng-enter-active {
    -webkit-transform: translate3d(0,0,0);
}

.back-animate .mainView.ng-leave {
    -webkit-transform: translate3d(0,0,0);
}

.back-animate .mainView.ng-leave.ng-leave-active {
    -webkit-transform: translate3d(100%,0,0);
} 

.modal h1, .modal p {
    color: black;
}

.game-over .modal-bg {
    -webkit-transition: all ease-in 0.2s;
    opacity: 0;
    height: 0;
}

.game-over.active .modal-bg {
    opacity: 1;
    height: auto;
}

.game-over .modal {
    -webkit-transition: all ease-in 0.2s;
    -webkit-transform: translate3d(-50%, -250%, 0)
}

.game-over.active .modal {
    -webkit-transform: translate3d(-50%,-50%,0);
}