<style>
	html {
		background-color: rgb(246,242,231);
		color: black;
	}

	body {
		margin: 0;
	}

	html, body, .mainView, .gameView {
		height: 100%;
	}

	h1 {
		text-align: center;
	}

	h2 {
		font-size: 17px;
		font-weight: normal;
		margin: 0;
		margin-bottom: 0.25em;
		padding: 0;
	}

	.gameView {
		display: -webkit-box;
	}

	.v-box {
		display: -webkit-box;
		-webkit-box-orient: vertical;
	}

	.h-box {
		display: -webkit-box;
		-webkit-box-orient: horizontal;
	}

	.flex-1 {
		-webkit-box-flex: 1;
	}

	.card-wrapper {
		display: inline-block;
		margin: 1em 1em;

		perspective: 1000;
		-webkit-perspective: 1000;
		-webkit-transition: all 0.5s ease-out;
	}

	.stats {
		text-align: center;
	}

	.stats div {
		background-color: black;
		color: white;
		border: solid thin lightgray;
		padding: 0.25em;
	}


	.card-wrapper.active .card {
		-webkit-transform: rotate3d(0,1,0,180deg);
	}

	.card-wrapper .card {
		-webkit-transform: rotate3d(0,0,0,0);
	}

	.card-wrapper, .card, .front, .back {
		height: 60px;
		width: 60px;
	}

	.card {
		position: relative;	
		-webkit-transition: all 0.5s ease-out;
		-webkit-transform-style: preserve-3d;
		border: solid black thin;
	}

	.front, .back {
		background-size: cover;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		position: absolute;
		top: 0;
		left: 0;
	}

	.front {
		z-index: 2;
		-webkit-transform: rotateY(180deg);
		background-color: white;
	}

	.back {
		z-index: 1;
		-webkit-transform: rotateY(0deg);
		background-color: red;
	}

	.card-wrapper.match {
		opacity: 0;
	}

	.final-time {
		background-color: yellow;
	}

	.blue-triangle .front{
		background-image: url('/images/blue-triangle.png');
	}

	.red-circle .front {
		background-image: url('/images/red-circle.png');
	}

	.purple-square .front {
		background-image: url('/images/purple-square.png');
	}

	.position-wrapper {
		position: relative;
	}
	.modal-bg {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: rgba(0,0,0,0.5);
		z-index:999;
	}

	.modal {
		position: absolute;
		top: 50%;
		left: 50%;
		-webkit-transform: translate(-50%, -50%);
		z-index: 1000;
		background-color: white;
		border: solid thin black;
		padding: 1em;
		width: 75%;
	}
</style>
<div class="gameView v-box">
	<div class="position-wrapper flex-1 v-box">
		<div class="game-over" ng-if="game.gameOver">
			<div class="modal-bg"></div>
			<div class="modal">
				<h1>Game Over!</h1>
				<p>Your final score was: {{game.currentMatches}}</p>
				<div class="high-scores">
					<h2>Other High Scores</h2>
					<ul>
						<li ng-repeat="score in highScores">{{score.time|timeFormat}}: {{score.value}}</li>
					</ul>
				</div>
				<button type="button" ng-click="restartGame()" class="main-menu-button">Try Again?</button>
				<button type="button" ng-click="goBack()" class="main-menu-button">Quit</button>
			</div>
		</div>
		<h1>Match {{game.matchMode}}</h1>
		<div class="games flex-1" ng-if="!gameOver">
			<div ng-repeat="card in game.cards" ng-click="clickCard(card)" class="card-wrapper" ng-class="{'active': card.active, 'match': card.match}">
				<div class="card {{card.color}}-{{card.shape}}">
					<img ng-src="/images/{{card.color}}-{{card.shape}}.png" class="front">
					<div class="back"></div>
				</div>
			</div>
		</div>
	</div>
	<div class="stats h-box">
<div class="timer flex-1" ng-class="{'final-time': game.gameOver}">
	<h2>Time</h2>
	{{game.totalTime}}
</div>
<div class="counter flex-1">
	<h2>Score</h2>
	{{game.currentMatches}}
</div>
<div class="guesses flex-1">
	<h2>Level</h2>
	{{game.level}}
</div>
	</div>
</div>
