<button ng-click="clickMe()">Click Me</button>



<body ng-app="MatchingGame" ng-controller="optionsController">
  <table>
    <thead>
      <tr><th colspan="4">Matching Game Options</th></tr>
    </thead>
    <tbody>
      <tr ng-repeat="options">
        <td>{{$index + 1}}</td>
        <td>
          <img src="img/flags/{{options.Options.list}}.png" />
        </td>
        <td>{{option.Constructors[0].optionname}}</td>
        <td>{{option.points}}</td>
      </tr>
    </tbody>
  </table>
</body>






angular.module('MatchingGame').
controller('optionsController', function($scope) {
    $scope.optionsList = [
      {
          Sound Effects: {
              trigger1: 'On',
              trigger0: 'Off'
          }
          Music: {
              trigger1: 'On',
              trigger0: 'Off'
          }
          Bright: {
              slide: ' '
          }
          //Radio Boxes
          Difficulty: {
              hard: ' ',
              medium: ' ',
              easy: ' '
          }
    ];
});
